:root {
    --main-color: #47296a;
}

body,
body * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    margin-top: 40px;
    margin-left: calc(50% - 500px);
}

.logo {
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    color: black;
}

.main-nav > .links {
    text-decoration: none;
    color: rgb(94, 94, 94);
    font-size: 14px;
    padding: 10px 12px;
    margin-left: 20px;
    font-weight: bold;
    border: 1px solid transparent;
    border-radius: 25px;
    transition: all 0.5s;
}

.main-nav > .links:first-child {
    margin-left: 0;
}

.main-nav > .links:hover {
    border-color: rgb(94, 94, 94);
}

.main-content {
    display: flex;
    width: 1000px;
    margin-top: 40px;
    margin-left: calc(50% - 500px);
}

.right-content {
    width: 60%;
}

.left-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 40%;
    margin-top: 30px;
}

.main-title {
    font-size: 60px;
    font-weight: 100;
    margin-bottom: 0;
}

.left-content > p:first-of-type {
    line-height: 1em;
    font-weight: 900;
    font-size: 60px;
    margin-top: 0;
}

.left-content > p > span {
    border-bottom: 5px solid var(--main-color);
}

.description {
    color: darkgray;
    margin-top: 10px;
}

.button {
    display: inline-block;
    margin-top: 2em;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid var(--main-color);
    border-radius: 3em;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    margin-top: 20px;
    margin-left: calc(50% - 500px);
}

.icon {
    text-decoration: none;
    color: grey;
    font-size: 20px;
    margin-right: 0.25em;
}

.icon:hover {
    color:var(--main-color);
}

.copyright {
    font-size: 16px;
}